@import url(src/font/stylesheet.css);
@import url(src/css-reset-file.css);


* {
    font-family: "airbnb_cereal_appmedium", Helvetica, sans-serif;
    box-sizing: border-box;
}

h1, h3, h4, h5, h6 {
    font-family: "airbnb_cereal_appbold", Helvetica, sans-serif;
    color: #222222;
}

h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
    padding-bottom: 8px;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 8px;
}

p {
    font-family: "airbnb_cereal_appbook", Helvetica, sans-serif;
    color: #717171;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 8px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin: 0 auto;
    padding: 0 10em;
    max-width: 1440px;
    
}


.nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 16px;
    font-size: 14px;
}

.nav-link div {
    height: 100%;
}

main {
    padding: 32px 10em;
    margin: 0 auto;
    max-width: 1600px;

}

.hero {
}

.hero-img{
    margin-left: 30%;
}

.hero-floating-card {
    margin-top: -25em;
    z-index: 10;
    background-color: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 420px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.hero-input-with-label {
    padding: 12px 12px 8px 12px;
    border-radius: 8px;
    border: 1px solid #7171715f;
    display: grid;
    margin: 8px 0;
}

.hero-input-with-label:focus-within {
    outline: 2px solid #000000;
}

label {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    font-family: "airbnb_cereal_appextra_bold", Helvetica, sans-serif;
    color: #222222;
}

.form-input {
    color: #222222;
    font-size: 16px;
    line-height: 20px;
    border: none;
    font-family: "airbnb_cereal_appbook", Helvetica, sans-serif;
    padding-top: 4px;
}

textarea, input { 
    outline: none; 
    padding: 0px;
    margin: 0px;
}

.hero-floating-card button {
    border-radius: 8px;
    width: 100%;
    height: 48px;
    border: none;
    color: #ffffff;
    margin-top: 16px;
    font-size: 16px;
    background: linear-gradient(90deg, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.hero-input-with-two-fields-container {
    padding: 12px 12px 8px 12px;
    border-radius: 8px;
    border: 1px solid #7171715f;
    display: grid;
    margin: 8px 0;
    display: flex;
}

.top-rated-rentals {
    margin-top: 5em;
}

.top-rated-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-bottom:0;
    margin-top:16px;
    grid-column-gap:16px;
    grid-row-gap:24px
}

.top-rated-card1 {
    grid-column: span 4;
}

.top-rated-card2 {
    grid-column: span 4;
}

.top-rated-card3 {
    grid-column: span 4;
}


.listing-photos {
    object-fit:cover;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    max-height: 360px;
}

.rental-detail {
    margin-top: 16px;
}

.rental-detail p {
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    line-height: 20px;
}

.rental-details-header {
    font-size: 14px;
}

.second-line {
    margin: 0;
    padding: 0;
}

.rentals-for-style {
    margin-top: 5em;
}

.vacay-rentals-grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-bottom: 0;
    margin-top: 16px;
    grid-column-gap: 16px;
    grid-row-gap: 24px;
}

.vacay-rentals1 {
    grid-column: span 4;
}

.vacay-rentals2 {
    grid-column: span 4;
}

.vacay-rentals3 {
    grid-column: span 4;
}


.vacay-rentals-grid h3 {
    margin-top: 1.2em;
}